* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

html {
    font-size: 62.5%;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .3);
}

header {
    width: 100%;
    height: 4.5rem;
    background: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    .left {
        margin-left: 30px;
    }
    .right {
        margin-right: 30px;
    }
}

section {
    width: 80%;
    flex: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 80%;
    background: #fff;
    border-radius: 10px;
    padding-right: 10%;
    padding-left: 10%;
    .logo {
        text-align: center;
        margin-top: 30px;
    }
    p {
        text-align: center;
        margin-top: 6px;
    }
    .text {
        text-align: center;
        margin-top: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        img {
            margin-right: 5%;
        }
        input {
            border: 0;
        }
    }
    .pwd {
        text-align: center;
        margin-top: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        input {
            border: 0;
        }
        img {
            margin-right: 5%;
        }
    }
    .btn {
        text-align: center;
        .btns {
            margin-top: 7%;
            width: 40%;
            height: 50px;
            border: 0;
            background: rgb(5, 141, 46);
            border-radius: 10px;
            color: #fff;
        }
    }
}